# See: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Standard: C++11

StatementMacros: ["UCLASS", "UENUM", "UFUNCTION", "UPROPERTY", "USTRUCT"]

# Indentation
TabWidth: 4
UseTab: Always
IndentWidth: 4
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
AccessModifierOffset: 0

FixNamespaceComments: false # Don't add namespace comments

ColumnLimit: 0 # Don't auto-wrap long lines

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakStringLiterals: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

PointerAlignment: Left
SpaceBeforeCaseColon: false
BinPackArguments: false